.container {
    display: list-item;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: auto;
    padding: 5px;

    border: 1px solid var(--borderColor);
    border-radius: 5px;
    
    list-style: cjk-heavenly-stem;

    .content {
        display: flex;
        flex-direction: row;
        gap: 5px;

        width: 100%;

        justify-content: space-between;
        align-items: baseline;

        button {
            height: 35px;
            width: 35px;

            border: 1px solid var(--borderColor);
            border-radius: 50%;

            background-color: transparent;

            &:hover {
                background-color: var(--borderColor);
            }

            &:active {
                background-color: var(--borderColorLighter);
            }
        }
    }
}

